<link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="shop-the-look">
  <div>
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
        <div id="block-{{block.id}}">
          <div id="shop-the-look-product-details-{{block.id}}" class="shop-the-look-product__details">
            {% if block.settings.look_1 != blank %}
              {%- assign product_form_id = 'quick-add-' | append: section.id | append: block.settings.look_1.id -%}
              <div id="shop-the-look-product-contents-1-{{block.id}}" class="shop-the-look-product-contents">
                <div class="shop-the-look-product--dot__container">
                  <button id="block-{{block.id}}-button-1"  class="shop-the-look-product__dot" clicked="false" product-form-id="{{product_form_id}}"></button>
                  <div class="shop-the-look-product-dot__animation"></div>
                </div>
                <div class="quick-add">
                    
                    {%- if block.settings.look_1.variants.size == 1 -%}
                      <product-form>
                        {%- form 'product', block.settings.look_1, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                          <input type="hidden" name="id" value="{{ block.settings.look_1.selected_or_first_available_variant.id }}" disabled>
                          <button
                            id="{{ product_form_id }}-submit"
                            type="submit"
                            name="add"
                            class="quick-add__submit button button--full-width button--secondary"
                            aria-haspopup="dialog"
                            aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ block.settings.look_1.id }}"
                            aria-live="polite"
                            data-sold-out-message="true"
                            {% if block.settings.look_1.selected_or_first_available_variant.available == false %}disabled{% endif %}
                          >
                            <span>
                              {%- if block.settings.look_1.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </span>
                            <span class="sold-out-message hidden">
                              {{ 'products.product.sold_out' | t }}
                            </span>
                            <div class="loading-overlay__spinner hidden">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </button>
                        {%- endform -%}
                      </product-form>
                    {%- else -%}
                      <modal-opener data-modal="#QuickAdd-{{ block.settings.look_1.id }}">
                        <button
                          id="{{ product_form_id }}-submit"
                          type="submit"
                          name="add"
                          class="quick-add__submit button button--full-width button--secondary"
                          aria-haspopup="dialog"
                          aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ block.settings.look_1.id }}"
                          data-product-url="{{ block.settings.look_1.url }}"
                        >
                          {{ 'products.product.choose_options' | t }}
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>
                      </modal-opener>
                      <quick-add-modal id="QuickAdd-{{ block.settings.look_1.id }}" class="quick-add-modal">
                        <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: block.settings.look_1.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                          <button id="ModalClose-{{ block.settings.look_1.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                          <div id="QuickAddInfo-{{ block.settings.look_1.id }}" class="quick-add-modal__content-info">
                          </div>
                        </div>
                      </quick-add-modal>
                    {%- endif -%}
                </div>
                <div  class="shop-the-look-product__item">
                    <div class="shop-the-look-product-item__image">
                        <img src="{{ block.settings.look_1.featured_media | img_url: "master" }}" alt="" loading="lazy">
                    </div>
                    <div class="shop-the-look-product-item__content">
                        <div>
                            <a href="{{block.settings.look_1.url}}">{{block.settings.look_1.title}}</a>
                        </div>
                        <div>
                            <p>{{block.settings.look_1.price | money }}</p>
                            <p id="block-{{block.id}}-quick-view" class="shop-the-look-quick-view" product-form-id="{{product_form_id}}">Quick view</p>
                        </div>
                    </div>
                </div>
              </div>
            {% endif %}
            {% if block.settings.look_2 != blank %}
              {%- assign product_form_id = 'quick-add-' | append: section.id | append: block.settings.look_2.id -%}
              <div id="shop-the-look-product-contents-2-{{block.id}}" class="shop-the-look-product-contents">
                <div class="shop-the-look-product--dot__container">
                  <button id="block-{{block.id}}-button-2"  class="shop-the-look-product__dot" clicked="false" product-form-id="{{product_form_id}}"></button>
                  <div class="shop-the-look-product-dot__animation"></div>
                </div>
                <div class="quick-add">
                    
                    {%- if block.settings.look_2.variants.size == 1 -%}
                      <product-form>
                        {%- form 'product', block.settings.look_2, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                          <input type="hidden" name="id" value="{{ block.settings.look_2.selected_or_first_available_variant.id }}" disabled>
                          <button
                            id="{{ product_form_id }}-submit"
                            type="submit"
                            name="add"
                            class="quick-add__submit button button--full-width button--secondary"
                            aria-haspopup="dialog"
                            aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ block.settings.look_2.id }}"
                            aria-live="polite"
                            data-sold-out-message="true"
                            {% if block.settings.look_2.selected_or_first_available_variant.available == false %}disabled{% endif %}
                          >
                            <span>
                              {%- if block.settings.look_2.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </span>
                            <span class="sold-out-message hidden">
                              {{ 'products.product.sold_out' | t }}
                            </span>
                            <div class="loading-overlay__spinner hidden">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </button>
                        {%- endform -%}
                      </product-form>
                    {%- else -%}
                      <modal-opener data-modal="#QuickAdd-{{ block.settings.look_2.id }}">
                        <button
                          id="{{ product_form_id }}-submit"
                          type="submit"
                          name="add"
                          class="quick-add__submit button button--full-width button--secondary"
                          aria-haspopup="dialog"
                          aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ block.settings.look_2.id }}"
                          data-product-url="{{ block.settings.look_2.url }}"
                        >
                          {{ 'products.product.choose_options' | t }}
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>
                      </modal-opener>
                      <quick-add-modal id="QuickAdd-{{ block.settings.look_2.id }}" class="quick-add-modal">
                        <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: block.settings.look_2.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                          <button id="ModalClose-{{ block.settings.look_2.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                          <div id="QuickAddInfo-{{ block.settings.look_2.id }}" class="quick-add-modal__content-info">
                          </div>
                        </div>
                      </quick-add-modal>
                    {%- endif -%}
                </div>
                <div  class="shop-the-look-product__item">
                    <div class="shop-the-look-product-item__image">
                        <img src="{{ block.settings.look_2.featured_media | img_url: "master" }}" alt="" loading="lazy">
                    </div>
                    <div class="shop-the-look-product-item__content">
                        <div>
                            <a href="{{block.settings.look_2.url}}">{{block.settings.look_2.title}}</a>
                        </div>
                        <div>
                            <p>{{block.settings.look_2.price | money }}</p>
                            <p id="block-{{block.id}}-quick-view" class="shop-the-look-quick-view" product-form-id="{{product_form_id}}">Quick view</p>
                        </div>
                    </div>
                </div>
              </div>
            {% endif %}
            <img class="image-container" src="{{ block.settings.image | image_url: width: 1500 }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy">
          </div>
        </div>
        <style>
            #shop-the-look-product-details-{{block.id}} #shop-the-look-product-contents-1-{{block.id}} {
                top:{{block.settings.look_1_y_axis}}%;
                left: {{block.settings.look_1_x_axis}}%;
            }

            #shop-the-look-product-details-{{block.id}} #shop-the-look-product-contents-2-{{block.id}} {
                top:{{block.settings.look_2_y_axis}}%;
                left: {{block.settings.look_2_x_axis}}%;
            }

        </style>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>

.shop-the-look > div {
  display: flex;
  
}

.shop-the-look > div > div {
  position: relative;
}


.shop-the-look img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.shop-the-look-product__details {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

.shop-the-look-product-contents {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}

.shop-the-look-product__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 330px;
  height: 120px;
  padding: 15px 22px 15px 11px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
  background-color: #fff;

  visibility: hidden;
  opacity: 0;
  transition: visibility .4s cubic-bezier(.75,0,.175,1),opacity .4s cubic-bezier(.75,0,.175,1),transform .4s cubic-bezier(.75,0,.175,1);
  will-change: transform;
  box-shadow: 0 1px 5px #0000001a;
  transform-origin: top left;

}

.shop-the-look-product__item.open {
  visibility: visible;
  opacity: 1;
}

.shop-the-look-product__item:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #fff;
  border-width: 8px;
  right: 97%;
  transform: rotate(45deg);
}

.shop-the-look-product-item__content > div:first-child {
  font-size: 14px;
  line-height: 17px;
  padding-top: 18px;
}

.shop-the-look-product-item__content a {
  text-decoration: none !important;
  color: #000 !important;
}

.shop-the-look-product-item__content > div:last-child {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.shop-the-look-product-item__content > div:last-child p:first-child {
  margin-right: 10px;
  margin-bottom: 0px;
}



.shop-the-look-product-item__image {
  display: flex;
}

.shop-the-look-product-item__image > img {
  width: 90px;
  height: 90px;
}

.shop-the-look-product__dot {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
  padding: 4px;
  opacity: 0.74;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 100%;
  border: 6px solid rgba(255, 255, 255, 1);
  transition: opacity 0.3s;
}

.shop-the-look-product--dot__container {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
}

.shop-the-look-product-dot__animation {
  border: 2px solid #f5f0f0;
  border-radius: 100%;
  display: flex !important;
  opacity: 0.74;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0px;
  animation: scaleIn 2.5s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2, 2);
    opacity: 0;
  }
}

.shop-the-look-product__dot:hover {
  transition: opacity 0.3s;
  opacity: 1;
}

.shop-the-look-quick-view {
  cursor: pointer;
  text-decoration: underline;
}

.shop-the-look-quick-view:hover {
color: #000;
}

.shop-the-look .quick-add {
  display: none;
}

@media only screen and (max-width: 820px) {

  .shop-the-look > div {
    flex-direction: column;
  }

  .shop-the-look-product__item {
    width: 280px;
  }

  .shop-the-look-product-item__content a {
    line-height: 19px;
  }

  .shop-the-look-product__details {
    display: flex;
  }

}

@media only screen and (max-width: 768px) {
  .shop-the-look-product__item {
    width: 250px;
  }
}

@media only screen and (max-width: 700px) {
  .shop-the-look-product__item {
    display: none;
  }
}



</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
       
        document.querySelectorAll('.shop-the-look-product-contents').forEach((content)=> {
            const button = content.querySelector('.shop-the-look-product__dot');
            const productFormId = button.getAttribute('product-form-id');
            const self = content.querySelector('.shop-the-look-product__item');

            button.addEventListener('click', function(){

                document.querySelectorAll('.shop-the-look-product__item').forEach((product_item) => {
                    product_item.classList.remove('open')
                });

                if(button.getAttribute('clicked') === 'false') {
                    document.querySelectorAll('.shop-the-look-product__dot').forEach((allButton) => {
                        allButton.setAttribute('clicked', false);
                    });
                    button.setAttribute('clicked', 'true');
                    

                    if (window.matchMedia("(max-width: 700px)").matches) {
                      document.querySelector("#"+productFormId+"-submit").click();
                    } else {
                      self.classList.add('open');
                    }

                   
                }else if(button.getAttribute('clicked') === 'true') {
                    document.querySelectorAll('.shop-the-look-product__dot').forEach((allButton) => {
                        allButton.setAttribute('clicked', false);
                    });
                    button.setAttribute('clicked', 'false');
                    
                    if (window.matchMedia("(max-width: 700px)").matches) {
                      document.querySelector("#"+productFormId+"-submit").click();
                    } else {
                      self.classList.remove('open');
                    }

                }

            });

        });

        document.querySelectorAll('.image-container').forEach((image) => {
            image.addEventListener('click', function(){
                document.querySelectorAll('.shop-the-look-product__item').forEach((product_item) => {
                    product_item.classList.remove('open');
                });
            });
        });

        // Todo need to create loading after click
        document.querySelectorAll('.shop-the-look-quick-view').forEach((quick_view_button) => {
            quick_view_button.addEventListener('click', function(){
                const productFormId = quick_view_button.getAttribute('product-form-id');
                document.querySelector("#"+productFormId+"-submit").click();
            });
        });


    });
</script>

{% schema %}
{
    "name": "t:sections.shop-the-look.name",
    "class": "section",
    "tag": "section",
    "max_blocks":2,
    "blocks": [
        {
            "type": "look",
            "name": "t:sections.shop-the-look.blocks.look.name",
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.shop-the-look.blocks.look.settings.image.label"
                },
                {
                    "type": "header",
                    "content": "First product look settings"
                },
                {
                    "type": "product",
                    "id": "look_1",
                    "label": "Product"
                },
                {
                    "type": "range",
                    "id": "look_1_y_axis",
                    "label": "Vertical position",
                    "min": 5,
                    "max": 100,
                    "step": 5,
                    "default": 5,
                    "info": "From top to bottom position of dot button"
                },
                {
                    "type": "range",
                    "id": "look_1_x_axis",
                    "label": "Horizontal position",
                    "min": 5,
                    "max": 100,
                    "step": 5,
                    "default": 5,
                    "info": "From left to right position of dot button"
                },
                {
                    "type": "header",
                    "content": "Second product look settings"
                },
                {
                    "type": "product",
                    "id": "look_2",
                    "label": "Product"
                },
                {
                    "type": "range",
                    "id": "look_2_y_axis",
                    "min": 5,
                    "max": 100,
                    "step": 5,
                    "default": 5,
                    "label": "Vertical position",
                    "info": "From top to bottom position of dot button"
                },
                {
                    "type": "range",
                    "id": "look_2_x_axis",
                    "min": 5,
                    "max": 100,
                    "step": 5,
                    "default": 5,
                    "label": "Horizontal position",
                    "info": "From left to right position of dot button"
                }
            ]
        }
    ],
    "presets": [
    {
      "name": "t:sections.shop-the-look.name",
      "blocks": [
        {
          "type": "look"
        }
      ]
    }
  ]
}
{% endschema %} 